* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  background: url('../assets/pattern-bg.svg') white no-repeat;
  background-position: top 1.563em right 2.281em;
  margin: 1em;
}

.attribution {
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}